<div class="row" id="indexHead" ng-controller="MainCtrl">
    <div class="contaienr-fluid">
        <div class="col-md-5 col-md-offset-1">
            <h2 class="text-md-center">Dating for Nerds</h2>
            <button class="center-block btn btn-warning-outline">Get Started</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="container">
        <h2 style="margin-top: 10px;" class="text-md-center">Testimonials</h2>
        <div class="line"></div>
        <!--<div class="col-md-8 col-md-offset-2">-->
            <div id="slider_wrapper">
                <div id="slider">

                    <div id="slides_info">
                        <div class="slide_info one">
                            <h4>Seasshells29</h4>
                            <p>
                                Lorem ipsum dolor sit amet, eum legere feugiat periculis ei. Per cu habemus definitionem, pri esse quas virtute at. Tantas numquam no vix, pri nisl tritani convenire te. Cetero euismod ad eum, ei saepe blandit facilisis vel.
                            </p>

                        </div>
                        <div class="slide_info two">
                            <h4>iamNotCapAmerioca</h4>
                            <p>Lorem ipsum dolor sit amet, eum legere feugiat periculis ei. Per cu habemus definitionem, pri esse quas virtute at. Tantas numquam no vix, pri nisl tritani convenire te. Cetero euismod ad eum, ei saepe blandit facilisis vel.
                            </p>


                        </div>
                        <div class="slide_info three">
                            <h4>Bubbles</h4>
                            <p>
                                Lorem ipsum dolor sit amet, eum legere feugiat periculis ei. Per cu habemus definitionem, pri esse quas virtute at. Tantas numquam no vix, pri nisl tritani convenire te. Cetero euismod ad eum, ei saepe blandit facilisis vel.

                            </p>

                        </div>
                        <div class="slide_info four">
                            <h2>Title Two</h2>
                            <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor,
                                nisi elit consequat ipsum, nec sagittis sem nibh
                                id elit. Duis sed odio sit amet nibh vulputate
                                cursus a sit amet mauris. Morbi accumsan ipsum
                                velit.
                            </p>

                        </div>
                    </div>

                    <div id="slides_image">
                        <div class="slide one">
                            <img src="http://cssdeck.com/uploads/media/items/4/41tAxTu.png" />
                        </div>
                        <div class="slide two">
                            <img src="http://cssdeck.com/uploads/media/items/1/1hjGftu.png" />
                        </div>
                        <div class="slide three">
                            <img src="http://cssdeck.com/uploads/media/items/4/4OIJyak.png" />
                        </div>
                        <div class="slide four">
                            <img src="http://cssdeck.com/uploads/media/items/6/68BYSto.png" />
                        </div>
                    </div>
                </div>
            </div>
    </div>
<!--</div>-->
    </div>