<div class="row" id="logout">

    <div class="container">
        <div class="col-md-6 col-md-offset-3">
            <h2 class="text-md-center">Are You Sure?</h2>
            <form ng-submit="logout()">
                <div class="form-group text-md-center">
                    <button type="submit" class=" btn btn-info-outline ">Logout</button>
                    <a href="#/" class="btn btn-danger-outline">
                       Cancel
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- TODO: look at the bootstrap partials modal and tabset to see if they are causing weird buttons -->