<div class="row loadingBlock" ng-show="loading">
<div class="container spinner">
    <img ng-src="../img/loading2.gif" >
</div>
</div>
<div class="row"  id="memberBackground">
    <div class="container-fluid" >

        <div class="col-md-4" id="memberLeft" >
           <p>
               <!-- TODO include pagination here along with filters -->
           </p>
            <div class="indMember col-md-12 col-sm-12" ng-repeat="member in members">

                <members-info member="member">

                </members-info>
            </div>
        </div>

    </div>
</div>