<div class="row loadingBlock" ng-show="loading">
<div class="container spinner">
    <img ng-src="../img/loader.gif" >
    <p class="text-md-center"><i>Loading..Sorry</i></p>
</div>
</div>
<div class="row"  id="memberBackground">
    <div class="container-fluid" >

        <div class="col-md-4" id="memberLeft" >
           <p>
               <!-- TODO include pagination here along with filters -->
           </p>
            <div class="indMember col-md-12" ng-repeat="member in members">
                <div class="col-md-4">
                    <img ng-src="{{member.avatar}}">
                </div>
                <div class="col-md-8">
                    <h6 >{{member.username}} </h6>
                    <p>City:  {{member.address.city}}</p>
                </div>
            </div>
        </div>

    </div>
</div>