<div class="row">
    <div class="container">
    <div class="col-md-4 co.-sm-4">
        <h3 class="text-md-center tet-sm-center">Edit Your Profile.</h3>
        <div class="line"></div>
        <form class="form" ng-sumit="update()">
            <div class="form-group">
                <label class="form-control-label col-md-2">First Name: </label>
                <div class="col-md-3">

                </div>
            </div>
        </form>
    </div> <!-- end of left container -->
    <div class="col-md-4 col-sm-4 col-md-offset-1 col-sm-offset-1">
        <h3 class="text-md-center text-sm-center">Your Profile: </h3>
        <div class="line"></div>
        <h3>{{ currentUser.username }}</h3>
    </div> <!-- end of right -->
        </div>
</div>